{% extends 'base.html' %}

{% block head1 %}
{% endblock %}


{% block aside %}
{% endblock %}


{% block content %}
    <div id="content">
        <div id="fullpage">
            <!--===========================展示所有照片=============================================-->
            <div class="section hero is-fullheight page" id="anchor_1" style="padding: 1rem 3rem;">    <!--修改padding-->
                <!--图片区域顶部-->
                    <!--第一张浮窗图片-->
                <div class="col-lg-3 col-md-6">
                    <div class="featured-item pd-bottom-90">
                        <div class="featured-item-meta">
                            <div class="form-container">
                                    <form method="post">
                                        <input type="submit" name="submit_button" value="task_1">
                                    </form>
                            </div>
                            <div class="thumbnail-container">
                                    <img src="user_uploads/task_1/scene_1.png" alt="Thumbnail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
